body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto-slab: "Roboto Slab";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-26xl: 45px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
  }
  