<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Flex:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="main">
      <div class="count-down">
        <div class="count-down-child"></div>
        <div class="count-down1">Count Down</div>
      </div>
      <div class="main-content">
        <div class="image">
          <img class="image-child" alt="" src="/images/Group 1.png" />
        </div>
        <p class="lorem-ipsum-dolor-container">
          <span class="lorem-ipsum-dolor">
            <span class="sit-amet-consectetur">
              <span class="lorem-ipsum-dolor2">Lorem ipsum dolor</span>
            </span>
          </span>
          <span class="blank-line">
            <span>
              <span class="sit-amet-consectetur">
                <span>&nbsp;</span>
              </span>
            </span>
          </span>
          <span class="sit-amet-consectetur-adipisici">
            <span>
              <span>
                <span class="sit-amet-consectetur"
                  >sit amet consectetur adipisicing elit. Natus </span
                >expedita minima repudiandae. Excepturi, quidem mollitia. Iusto
                illum incidunt nesciunt id dicta, voluptatum ducimus laborum
                veniam accusamus qui. Asperiores blanditiis molestiae fuga amet
                sunt vero hic mollitia voluptatibus aliquid dolores, culpa
                explicabo ducimus quos suscipit perspiciatis architecto sit
                animi eum voluptate!
              </span>
            </span>
          </span>
        </p>
      </div>
      <div class="event-name">
        <div class="date-of-the-container">
          <p class="date-of-the">date of the event</p>
          <p class="event-name1">Event Name</p>
          <p class="blank-line2">&nbsp;</p>
          <p class="date-of-the">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
          </p>
        </div>
      </div>
      <div class="nav-bar">
        <a class="schedule">Schedule</a>
        <a class="faqs">FAQs</a>
        <a class="prizes">Prizes</a>
        <a class="sponsors">Sponsors</a>
      </div>
      <div class="ducimus-quos-suscipit-perspici-parent">
        <div class="ducimus-quos-suscipit-container">
          <p class="date-of-the">ducimus quos</p>
          <p class="date-of-the">suscipit perspiciatis</p>
          <p class="date-of-the">architecto sit</p>
          <p class="date-of-the">animi eum voluptate!</p>
          <p class="date-of-the">animi eum voluptate!</p>
        </div>
        <div class="ducimus-quos-suscipit-container1">
          <p class="date-of-the">ducimus quos</p>
          <p class="date-of-the">suscipit perspiciatis</p>
          <p class="date-of-the">architecto sit</p>
          <p class="date-of-the">animi eum voluptate!</p>
          <p class="date-of-the">animi eum voluptate!</p>
        </div>
      </div>
    </div>
  </body>
</html>
