<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <a href="#" class="logo">HackNest</a>
        <nav class="elements">
            <ul class="nav_Links">
                <li><a href="">Schedule</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Sponsors</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </nav>
    </header>
    <div class="event-content">
        <div class="content">
            <p id="event-date">16th - 17th October 2023</p>
            <p id="name">HackNest</p>
            <p>Nesting Ideas and Hatching Solutions in 24 hours</p>
        </div>
    </div>
    <div class="about-event">
        <div class="img1">
            <img src="/images/rocket-icon.svg" alt="">
        </div>
        <div class="about">
            <h1>About the Event</h1>
            <p>HackNest, hosted by KarunyaHacks, is an exhilarating 24-hour hackathon that challenges participants to transform innovative ideas into reality. It's a high-octane event where creativity knows no bounds and technical prowess is put to the test.</p>
        </div>
    </div>
    <div class="count-down-div">
        <div class="countdown-wrapper">
            <div class="count-down-timer">
                <div class="countdown-container">
                    <div class="expires-in">
                        <p id="demo">Ideation</p>
                      </div>
                    <div class="countdown">
                      <span id="days" class="countdown-number"></span>
                      <span class="countdown-label">Days</span>
                    </div>
                    <div class="countdown">
                      <span id="hours" class="countdown-number"></span>
                      <span class="countdown-label">Hours</span>
                    </div>
                    <div class="countdown">
                      <span id="minutes" class="countdown-number"></span>
                      <span class="countdown-label">Minutes</span>
                    </div>
                    <div class="countdown">
                      <span id="seconds" class="countdown-number"></span>
                      <span class="countdown-label">Seconds</span>
                    </div>
                  </div>
            </div>
            <video class="count-down-video" autoplay loop muted plays-inline src="/videos/pexels_videos_2646392 (1080p).mp4"></video>
        </div>
    </div>
    <div class="schedule">
        <div class="schedule-items">
            <div id="schedule-name">
                <h1>Hackathon Schedule</h1>
            </div>
            <div class="item">
                <div class="item-box" id="box1">
                    <p class="item-name">Registration</p>
                    <p class="item-month">October</p>
                    <p class="item-date">3</p>
                </div>
                <span class="line"></span>
            </div>
            <div class="item">
                <div class="item-box two">
                    <p class="item-name">Ideation</p>
                    <p class="item-month">October</p>
                    <p class="item-date">9-10</p>
                </div>
                <span class="line"></span>
            </div>
            <div class="item">
                <div class="item-box three">
                    <p class="item-name">Mentoring Sessions</p>
                    <p class="item-month">October</p>
                    <p class="item-date">11 - 15</p>
                </div>
                <span class="line"></span>
            </div>
            <div class="item">
                <div class="item-box four">
                    <p class="item-name">Hackathon</p>
                    <p class="item-month">October</p>
                    <p class="item-date">16</p>
                </div>
                <span class="line"></span>
            </div>
        </div>
        <div class="schedule-content">
            <div class="schedule-content-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa inventore, atque id exercitationem minus itaque quisquam veniam, similique deserunt temporibus reprehenderit laboriosam dolore fugit et incidunt aliquid vero nihil nesciunt quam fugiat debitis, facere voluptatum. Provident neque nobis ex voluptate.</p>
            </div>
            <div class="schedule-content-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, laudantium inventore blanditiis mollitia quae nam officiis voluptas eveniet repudiandae delectus atque fugiat nemo, soluta eaque. Corrupti repellat exercitationem doloribus cum! Vitae minus, veniam molestiae provident vel ea assumenda odio beatae!</p>
            </div>
        </div>
    </div>
    <div class="sponsors">
        <div class="sponsors-bg">
            <span></span>
        </div>
        <div class="sponsors-content">
            <h1>Sponsors</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptatibus.</p>
        </div>
    </div>
    <script src="/scripts/main.js"></script>
</body>
</html>
