<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Page</h1>
    <form action="/team/reg" method="post">
        <div class="card_1">
            <div class="input_box">
                <input type="text"
                id="team_name"
                name="team_name"
                placeholder="Team Name"
                required>
            </div>
            <div class="input_box">
                <input type="text"
                id="team_leader"
                name="team_leader"
                placeholder="Team Leader"
                required>
            </div>
            <div class="input_box">
                <input type="text"
                id="register_number"
                name="register_number"
                placeholder="Registration Number"
                required>
            </div>
            <div class="input_box">
                <input type="text"
                id="department"
                name="department"
                placeholder="Department"
                required>
            </div>
            <div class="input_box">
                <input type="number"
                id="year_of_study"
                name="year_of_study"
                placeholder="Year of Study" required>
            </div>
            <div class="input_box">
                <input type="email"
                id="kmail"
                name="kmail"
                placeholder="Kmail" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="phone_number"
                name="phone_number"
                placeholder="Phone Number" required>
            </div>
        </div>

        <hr>
        
        <div class="card_2">
            <div class="input_box">
                <input type="text"
                id="team_member"
                name="team_member_2"
                placeholder="Team Member" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="register_number"
                name="register_number_2"
                placeholder="Registration Number" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="department"
                name="department_2"
                placeholder="Department" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="year_of_study"
                name="year_of_study_2"
                placeholder="Year of Study" required>
            </div>
            <div class="input_box">
                <input type="email"
                id="kmail"
                name="kmail_2"
                placeholder="Kmail" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="phone_number"
                name="phone_number_2"
                placeholder="Phone Number" required>
            </div>
        </div>
        <hr>
        <div class="card_3">
            <div class="input_box">
                <input type="text"
                id="team_member"
                name="team_member_3"
                placeholder="Team Member" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="register_number"
                name="register_number_3"
                placeholder="Registration Number" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="department"
                name="department_3"
                placeholder="Department" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="year_of_study"
                name="year_of_study_3"
                placeholder="Year of Study" required>
            </div>
            <div class="input_box">
                <input type="email"
                id="kmail"
                name="kmail_3"
                placeholder="Kmail" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="phone_number"
                name="phone_number_3"
                placeholder="Phone Number" required>
            </div>
        </div>
        <hr>
        
        <div class="card_4">
            <div class="input_box">
                <input type="text"
                id="team_member"
                name="team_member_4"
                placeholder="Team Member" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="register_number"
                name="register_number_4"
                placeholder="Registration Number" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="department"
                name="department_4"
                placeholder="Department" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="year_of_study"
                name="year_of_study_4"
                placeholder="Year of Study" required>
            </div>
            <div class="input_box">
                <input type="email"
                id="kmail"
                name="kmail_4"
                placeholder="Kmail" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="phone_number"
                name="phone_number_4"
                placeholder="Phone Number" required>
            </div>
        </div>
        <hr>
        <div class="card_5">
            <div class="input_box">
                <input type="text"
                id="team_member"
                name="team_member_5"
                placeholder="Team Member" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="register_number"
                name="register_number_5"
                placeholder="Registration Number" required>
            </div>
            <div class="input_box">
                <input type="text"
                id="department"
                name="department_5"
                placeholder="Department" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="year_of_study"
                name="year_of_study_5"
                placeholder="Year of Study" required>
            </div>
            <div class="input_box">
                <input type="email"
                id="kmail"
                name="kmail_5"
                placeholder="Kmail" required>
            </div>
            <div class="input_box">
                <input type="number"
                id="phone_number"
                name="phone_number_5"
                placeholder="Phone Number" required>
            </div>
        </div>
        <div class="submit">
            <input type="submit">
        </div>
    </form>
</body>
</html>